
body {
  position: relative;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border: 2px solid white;
  height: 100px;
  width: 100%;
  background: #444;
  
}

nav {
  width: 80vw;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;

}

header img {
  display: inline-block;
  background: #000;
  margin: 15px 5px 15px 0px;
}

nav ul {
  vertical-align: top;

}

header ul, header ul li {
  display: inline-block;
}

header ul li {
  line-height: 100px;
  padding: 0px 34px;
  color: white;
}

main {
  margin: 0px 0px;
  width: 80vw;
  max-width: 960px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

}

main > img:first-child {
  margin-top: 30px;
  margin-bottom: 3%;
  width: 80vw;
  max-width: 960px;
}

main ul {
  display: inline-block;
  width: 100%;
  padding: 0;
  font-size: 0;
}

main ul li {
  display: inline-block;
  margin: 0px 3.125% 3.125% 0px;
  width: 25vw;
  font-size: 0px;
  max-width: 300px;
}

main ul li img {
  width: 100%;
}

main ul li:last-child {
  margin-right: 0px;
}

main #smaller-image {
  width: 40vw;
  max-width: 480px;
  margin-right: 3.125%;
}

main > section {
  position: relative;
  height: 33.333vw;
  max-height: 400px;
}

main > section > section {
  display: inline-block;
  width: 33.333vw;
  max-width: 
  height: 70%;
  margin-bottom: 60px;
}

main section button {
  color: white;
  background: black;
}

p {
  /* display: block; */
  overflow: scroll;
  height: 80%;
  font-size: 18px;

}